<div class="bottom">
  <div class="left"></div>
  <div class="right"></div>
  <div class="center"></div>
  <center>
    <h1> FIND YOUR FESTIVAL </h1>
  <center><h2> Click on a State! <h2></center>
  </center>
  <div id="vmap"></div>
<div class="row featured">
    <a href="http://www.summercampfestival.com/"><img class="img-square" src="http://loudwhispermedia.com/wp-content/uploads/2014/10/SummerCampLogo1-240x240.png" %></a>
    <a href="http://www.aclfestival.com/"><img class="img-square" src="http://asleepatthewheel.com/wp-content/uploads/2013/01/530668_10151104519098030_1327768427_n.jpg"/></a>
    <a href="http://www.arisefestival.com/2015/"><img class="img-square" src="http://ecowatch.com/wp-content/uploads/2014/07/arisefestfi.jpg" %></a>
    <a href="http://sasquatchfestival.com/"><img class="img-square" src="http://www.takeashot.lv/wp-content/uploads/2014/11/sasquatch-2010-music-festival-poster-471x454.jpg" %>
    <a href="http://allgoodfestival.com/"><img class="img-square" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS-oobw_mVoLXxe2_bYOi0MtJgxG_ASikdF-g6gO7NgiEuSZkaAXSeKAhSf" %></a>
    <a href="http://hangoutmusicfest.com/"><img class="img-square" src="http://id8agency.com/blog/wp-content/uploads/hangout-festival-logo-2012.jpg" %></a>
</div>
